build/
*.synctex.gz
/ab-initio.pdf
/classical.pdf
/conclusion.pdf
/context.pdf
/electrostatics.pdf
/hybrid.pdf
/intro.pdf
/macroscopic.pdf
/resume-fr.pdf
/molsim.pdf
/domino.pdf
/chemfiles.pdf
/thesis.pdf
