build/
*.synctex.gz
*.log
1-context.pdf
2-macroscopic.pdf
3-molsim.pdf
4-abinitio.pdf
5-classical.pdf
6-software.pdf
X-chemfiles.pdf
Z-resume-fr.pdf
A-archive.pdf
phd-fraux.archive.pdf
A-print.pdf
phd-fraux.print.pdf
A-web.pdf
tmp.pdf
